<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mh.basickotlin">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicKotlin"
        tools:targetApi="31">

        <!-- region: Manuel -->
        <activity
            android:name="com.mh.basickotlin.manuel._main.ActManuelMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mh.basickotlin.manuel._main.ActManuelLayout"
            android:exported="true">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!-- endregion-->

        <activity
            android:name="com.mh.basickotlin.antonio.view.view.activy.ActAntonioMain"
            android:exported="true" />
        <activity
            android:name=".ui.pablo.activity.ActPabloMain"
            android:exported="true" />
        <activity
            android:name=".ui.angel.ActAngelMain"
            android:exported="false" />
        <activity
            android:name=".josue.view.activity.ActJosueMain"
            android:exported="false" />
        <activity
            android:name=".ui.juan.activity.ActJuanMain"
            android:exported="false" />
        <activity
            android:name=".ui.angel.frgAngelnformation"
            android:exported="false" />

    </application>

</manifest>